* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.brown {
  background-color: rgb(198, 119, 55);
}

.white {
  background-color: rgb(255, 255, 255);
}

.light-brown {
  background-color: rgb(253, 195, 143);
}

span {
  line-height: 75px;
  font-weight: 600;
  font-size: 20px;
}

.chess-black {
  color: rgb(0, 0, 0);
}

[class^=fas]  {
  font-size: 70px;
}

.chess-white {
  color: white;
}
